@import "../../settings/variables";
@import "../../settings/mixins";

.client-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  height: calc(100vh - 10rem);
  overflow: scroll;
  @include notebook {
    overflow: visible;
  }

  &--scroll {
    height: 100%;
    @include notebook {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__car {
    @include boxCar;
    @include notebook {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    button {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      align-self: flex-start;
      margin-top: 1rem;
      margin-right: 1rem;
    }
  }
}

.car-info {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 1rem;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  @include notebook {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1rem;
  }

  input {
    background-color: $secondaryContainer;
    border: none;
    font-family: $font;
    font-size: 0.8rem;
    color: $colorWhite;
    text-align: center;
    width: 9rem;
    border-radius: 1.2rem;
    @include notebook {
      margin-top: 0.5rem;
      margin-right: 1rem;
      height: 1.5rem;
    }
  }

  button {
    margin-top: 0.3rem;
    font-size: 0.8rem;
    width: 4rem;
  }
}