$font: 'Source Sans Pro', sans-serif;
$fontLogo: 'PlayFair Display', sans-serif;
$colorWhite: white;
$primaryColor: #d66819;
$primaryContainer: #b84210;
$secondaryColor: #7d93ab;
$secondaryContainer: #3a495a;
$teriaryColor: #7b8158;
$teriaryContainer: #3e412c;
$backgroundColor: #1c2534;
