@import "../../settings/variables";
@import "../../settings/mixins";

.garage-new-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 10rem);
  overflow: scroll;
  @include notebook {
    overflow: visible;
  }

  &--scroll {
    height: 100%;
    @include notebook {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }

  &__car {
    @include boxCar {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      @include notebook {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  ;

    &:first-child {
      margin-top: 2rem;
      @include notebook {
        margin-top: 0;
      }
    }
  }
}

.about-car {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
  width: 70%;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;

  button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      background-color: transparent;

      svg {
        width: 2rem;
        height: 2rem;
        color: green;
      }
    }

    &:last-child {
      background-color: transparent;

      svg {
        width: 2rem;
        height: 2rem;
        color: red;
      }
    }
  }
}