@import "../../settings/variables";
@import "../../settings/mixins";

.garage-management {
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin-top: 1rem;
      margin-left: 1rem;

      &:last-child {
        margin-right: 1rem;
      }

      &:hover {
        background-color: #b84210;
        transition: 0.2s;
      }
    }
  }
}