@import "../settings/variables";
@import "../settings/mixins";
@import "./base";

.main-repair-car {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  .form {
    textarea {
      resize: none;
    }
  }
}