@import "../settings/variables";
@import "../settings/mixins";

.garage-done-cars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 10rem);
  margin-top: 2rem;
  overflow: scroll;
  &__car {
    @include boxCar;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    button {
      width: 3rem;
      background-color: green;
    }
  }
  &--scroll {
    height: 100%;
  }
}